body {
	background: url(../img/12_col.gif) center top repeat-y;
    background-size: 90%;
    margin: 0px;
}

/* Wide desktop*/

#container {
    width: 88%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box-1 box-1 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-3 box-3"
    "content content content content content content content content content sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
    gap: 2%;
}

section {
	border: 1px solid #333;
    height: 150px;
    margin: 0px;
}

.header {
    grid-area: header;
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3;
}

.content {
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

#footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: 2px;
    gap: 2%;
}

#footer-tablet{
    border: 1px solid #333;
    height: 150px;
    margin: 0px;
    grid-area: footer-tablet;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 2px;
    margin-bottom: 2px;
    gap: 2%;
}


#footer-mobile{
    border: 1px solid #333;
    height: 150px;
    margin: 0px;
    grid-area: footer-mobile;
    display: none;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding: 2px;
    margin-bottom: 2px;
    gap: 2%;
}





/*Medium desktop*/
@media screen and (max-width: 1200px){
#container {

    grid-template-areas: 
    "header header header header header header header header header header header header"
    "box-1 box-1 box-1 box-2 box-2 box-2 box-2 box-2 box-2 box-3 box-3 box-3"
    "content content content content content content content content sidebar sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
}
}

/* Tablets */
@media screen and (max-width: 960px){
    #container {
       
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-2 box-3 box-3 box-3 box-3"
        "content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet footer-tablet";
       
    }
    #footer{
        display: none;
    }
    #footer-tablet{
        display: grid;
    }
    }

    /* Mobile */
@media screen and (max-width: 768px){
    #container {
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "header header header header header header header header header header header header"
        "box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1 box-1"
        "box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2 box-2"
        "box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3 box-3"
        "content content content content content content content content content content content content"
        "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
        "footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile footer-mobile";
       
    }
    #footer-tablet{
        display: none;
    }
    #footer-mobile{
        display: grid;
    }
    }